*{
    padding: 0;
    margin: 0;
}
body{
    background: linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.5) ) , url(bg2.jpg) no-repeat fixed;
    background-size: cover;
}
h1{
  font-family: 'GFS Didot', serif;
  text-shadow:0px 0px 10px rgba(255, 255, 255, 0.5), 0px 0px 3px rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.3);
  text-decoration: none;
}
.nav{
    background-color: rgb(0, 0, 0, 0.6);
    padding: 20px;
    height: 11vh;
    line-height: 11vh;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
    font-family: 'GFS Didot', serif;
    font-size: 3rem;
    border: 5px solid rgba(255, 255, 255, 0.247) ;
    transition: 0.5s;
    padding: 20px;
    color: rgba(255, 255, 255, 0.3) ;
    text-align: center;
    width: 20vw;
    margin: auto;
    margin-top: 4vw;
    margin-bottom: 4vw;
    background-color:rgb(0, 0, 0, 0.4); 
    transition: 0.5s;
    
}
.wizard{
    text-shadow:0px 0px 20px rgba(65, 6, 190, 1), 0px 0px 10px rgba(65, 6, 190, 1);
    color: rgb(124, 70, 240);
}
.warrior{
    text-shadow:0px 0px 20px rgba(232, 73, 16, 1), 0px 0px 10px rgba(232, 73, 16, 1);
    color: rgba(227, 121, 43, 1);
}
.ranger{
    text-shadow:0px 0px 20px rgba(13, 161, 52, 1), 0px 0px 10px rgba(13, 161, 52, 1);
    color: rgba(11, 144, 46, 1);
}
ul .wiz:hover{
    
    box-shadow: 0px 0px 100px rgba(65, 6, 190), 0px 0px 100px rgba(65, 6, 190);
    transition: 0.5s;
}
ul .war:hover{
    
    box-shadow: 0px 0px 100px rgba(159, 59, 7, 0.8), 0px 0px 100px rgba(159, 59, 7, 0.8);
    transition: 0.5s;
}
ul .ran:hover{
   
    box-shadow: 0px 0px 100px rgba(12, 144, 74, 0.8), 0px 0px 100px rgba(12, 144, 74, 0.8);
    transition: 0.5s;
}